In [25]:
OUTPUT_PATH = '../../data/'

In [26]:
%run '../schema_definition/schema.py'

In [27]:
import sys

sys.path.insert(0, '../../')

from schema_definition.schema import *

In [28]:
from pyspark.shell import spark

In [29]:
gold_df = spark.read.json(OUTPUT_PATH + 'gold/*.json', schema=gold_schema)

gold_df.createOrReplaceTempView("top_agents")
top_agents_query = """
                    SELECT AgentID, PostCode, max(Amount) AS MaxAmount
                    FROM top_agents
                    GROUP BY AgentID, PostCode
                    ORDER BY MaxAmount DESC;
                   """
top_agents_df = spark.sql(top_agents_query)
top_agents_df.toPandas()

    AgentID  PostCode  MaxAmount
0    307511      2081    5378.03
1    307507      2081    4216.00
2    307564      2081    2770.24
3    307662      2722    1274.57
4    307509      2587    1130.50
5    307510      2587     920.93
6    307577      2081     763.04
7    307508      2587     755.60
8    307312      2581     742.36
9    307510      2586     613.75
10   307509      2586     613.75
11   307662      2581     443.23
12   307508      2586     333.61
13   307562      2722     241.82
14   306773      2584     188.60
15   307561      2722     132.51
16   307664      2581     104.11
17   307664      2586      84.72
18   307662      2586      84.72
19   307506      2587      70.36
20   307323      2581      68.70
21   307561      2581      62.10
22   307677      2581      57.58
23   307562      2581      37.99
24   307561      2626      22.18
25   307396      2581       9.95
26   307563      2581       9.90
27   307681      2581       9.51
28   307673      2581       8.60
29   307675      2581       8.53
30   307672      2581       7.38
31   307663      2581       6.05
32   307676      2581       4.38
33   307674      2581       4.31
34   307396      2582       0.09
35   307508      2582       0.00
36   307561      2582       0.00
37   307312      2582       0.00
38   307662      2582       0.00
39   307509      2582       0.00
40   307510      2582       0.00
41   307563      2582      -0.22
42   307663      2582      -0.48
43   307562      2582      -1.26
44   307664      2582      -1.75
45   306773      2582    -118.05